.idea/
__pycache__/
spacy/*/*/vocab/
spacy/*/*/meta.json
spacy/*/*/tokenizer
rasa/
.env
*.vec
*.vec.gz
*.dot
*.pyc
*.log
*.db
*.ipynb_checkpoints
*.tar.gz
tags
data/china/stats_*
scratchpad
.python-version
logs/*